#home {
    background: linear-gradient(0deg,  rgba(9,9,121,.9) 0%, #0063cc 100%);
}

#home-footer {
    background-color: #040437!important;
}

#hero-tagline {
    color: rgba(255, 255, 255, .85);
}

#header-credits {
    font-weight: 300;
}

#header-credits > a {
    color: rgba(255, 255, 255, .85);
    font-weight: 400;
}

#filter-container {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    padding: 32px 0px;
    background-color: rgba(245, 245, 255, .92);
    color: rgba(0,0,0,.87);
    border-radius: 8px; 
}


.emphasis-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
}


.toggle-label {
    display: block; 
    margin-top: -8px; 
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

#social-media-icons {
    font-size: 36px;
}

.resource-container {
    padding: 16px;
    border-bottom: 1px solid lightgray;
}
.resource-header {
    font-weight: 500;
    font-size: 20px;
}
.resource-header>a{
    display: flex;
    align-items: center;
}
.resource-description {
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    #filter-container {
        margin-left: 2px;
        margin-right: 2px;
    }

    #hero-title {
        font-size: 2.25rem;
    }

    #hero-search-title {
        font-size: 1.5rem;
    }
    .toggle-label {
        font-size: 10px;
    }
}
