:root {
    --color-beige: #F5F0E1;
}

#home {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(100, 100, 100, 0.12), rgba(100, 100, 100, 0.12)),  url("../images/veggie-bg.jpg");
}

#home-footer {
    background-color: #040437!important;
}

#header-credits, #header-credits > a {
    -webkit-text-stroke: 1px darkslategray;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 16px #000;
}

#header-credits > a:hover {
    text-decoration: none;
}


#hero-title {
    -webkit-text-stroke: 1px darkslategray;
    color: white;
    text-shadow: 0px 1px 8px #000;
    font-weight: 500;
}

#filter-container {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.62);
    padding: 32px 0px;
    background-color: rgb(248, 248, 248);
    color: rgba(0,0,0,.87);
    border-radius: 2px; 
}

#social-media-icons {
    font-size: 36px;
}

.alt-section-container {
    background-color: var(--color-beige);
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.emphasis-box {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.62);
}

.form-text {
    margin-top: 0;
}

.toggle-label {
    display: block; 
    margin-top: -8px; 
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

.resource-container {
    padding: 16px;
    border-bottom: 1px solid lightgray;
}
.resource-header {
    font-weight: 500;
    font-size: 20px;
}
.resource-header>a{
    display: flex;
    align-items: center;
}
.resource-description {
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    #filter-header {
        font-size: 1em;
    }

    #filter-container {
        margin-left: 2px;
        margin-right: 2px;
    }

    #hero-title {
        font-size: 2.25rem;
    }

    #header-credits {
        font-size: .9em;
    }

    .toggle-label {
        font-size: 10px;
    }
}
