body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-x: hidden;
    background-color: #FBFBFB;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.navbar-custom {
    background-color: #323272;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
}

.navbar-header  {
    font-size: 1.75rem;
    font-weight: 400;
    margin-left: 1rem;
}

/* Begin accessibility tweaks to theme */
.navbar-dark.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

a {
  color: #0063cc;
}

/* Bootstrap overrides */
.btn-primary {
  background-color: #0063cc;
  border-color: #0063cc;
}

.text-muted {
  color: #5f666d !important;
}

label {
  width: 100%;
}

/* select2 overrides */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #666666;
}
/* End accessibility tweaks to theme */

.select2-container {
    width: 100%!important;
}