body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    overflow-x: hidden;
    background-color: #FBFBFB;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Navbar styles */
.navbar-custom {
    background-color: #323272;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
}

.navbar-header  {
    font-size: 1.75rem;
    font-weight: 400;
    margin-left: 1rem;
}


.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Non-mobile styles */
@media (min-width: 768px) {  
  .hidden-sm {
    display: none !important;
  }
}


/* Mobile styles */
@media (max-width: 768px) {
  .hidden-lg {
    display: none !important;
  }
}

/* Begin accessibility tweaks to theme */
.navbar-dark.navbar-custom .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
}

a {
  color: #0063cc;
}


/* Bootstrap overrides */
.btn-primary {
  background-color: #0063cc;
  border-color: #0063cc;
}

.text-muted {
  color: #5f666d !important;
}

label {
  width: 100%;
}

.badge.badge-info {
  background-color: #117888;
}


/* select2 overrides */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #666666;
}

.select2-container {
    max-width: 100%!important;
}

.select2-container .select2-selection--single {
  height: 40px;
  line-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 40px !important;

}

.select2-selection__clear:hover {
  color: rgba(255, 128, 128, 1);
}

.select2-selection__clear {
  font-size: 28px;
  line-height: 36px;
  margin-right: 4px;
}
.select2-selection__arrow {
  height: 40px !important;
}

.select2-selection__choice__remove {
  line-height: 0;
  font-size: 24px;
}
.select2-selection__choice__remove:hover {
  color: rgba(255, 128, 128, 1)!important;
}

/* End accessibility tweaks to theme */

